%%-*- mode: erlang -*-
{port_specs, [
  {"priv/flussonic_ffmpeg", [ "c_src/audio_transcode.c", "c_src/ffmpeg.c", "c_src/debug_loop.c", "c_src/ffmpeg_io.c", "c_src/reader.c"]},
  {"priv/mpeg2coder", ["c_src/mpeg2coder.c"]},
  {"priv/thumbnailer", ["c_src/thumbnailer.c", "c_src/ffmpeg_io.c", "c_src/reader.c"]}
]}.
{port_env, [
  {"CFLAGS", "$CFLAGS -I/usr/local/include -I/usr/local/lib/erlang/lib/erl_interface-3.7.13/include"},
  {"LDFLAGS", "$LDFLAGS  -pthread -L/usr/local/lib -lavfilter -lpostproc -lswresample -lswscale -lavformat -lavcodec -lva -lXfixes -lXext -lX11 -ljack -lasound -lSDL -lx264 -lvpx -lvorbisenc -lvorbis -ltheoraenc -ltheoradec -logg -lspeex -lrtmp -lgnutls -lopencore-amrwb -lopencore-amrnb -lmp3lame -lfaac -lz -ldl -lavutil -lm"}
]}.

{erl_opts, [
            debug_info,
            {parse_transform, lager_transform},
            warnings_as_errors,
            warn_format,
            %% warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
            warn_bif_clash
            %% warn_missing_spec,
            %% warn_untyped_record
           ]}.


%{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
%{cover_enabled, true}.
